# will authorize your public SSH keys
github_user = "some user"
# https://cloud.oracle.com/identity/compartments
oci_compartment_id = "ocid1.compartment.oc1..aaaaaaaa0000000000000000000000000000000000000000000000000000"
# https://cloud.oracle.com/compute/instances/create (click "Edit" in "Placement")
oci_tenancy_prefix = "abcd"
# https://login.tailscale.com/admin/settings/authkeys
tailscale_auth_key = "tskey-000000000000-111111111111111111111"
